@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<h2 style="color:#fff">404 Error. Page Not Found</h2>
<div class="pop-unit">
    <br /><br />
    <h3 class="text-danger">Administrator has been notified</h3>
    <br /><br /><br /><br /><br /><br /><br />
</div>

