@model iAFWebHost.Models.UrlModel


@if (Model != null && !String.IsNullOrEmpty(Model.ShortHref))
{
<div class="row">
    <div class="col-md-12">
        <h2 id="shrink_info" style="color: #fff">Shrink your links! Earn Karma!</h2>
        <form class="form-inline" id="linkBox" role="form" action="@Model.ShortHref" method="get">
            <div class="link-unit">
                <div class="input-group">
                    <input type="text" name="href" value="@Model.ShortHref" id="href" class="input-lg">
                    <span class="input-group-btn">
                        <button type="submit" id="btnNav" class="btn btn-success btn-lg">Navigate </button>
                    </span>
                    @Html.ValidationMessageFor(model => model.Href)
                </div>
            </div>
        </form>
    </div>
</div>
}else
{
<div class="row">
    <div class="col-md-12">
        <h2 id="shrink_info" style="color: #fff">Shrink your links! Earn Karma!</h2>
        <form class="form-inline" id="linkBox" role="form" method="post" onsubmit="return false;">
            <div class="link-unit">
                <div class="input-group">
                    <input type="text" name="href" id="href" placeholder="http:// ... paste your long url here ... " class="input-lg">
                    <span class="input-group-btn">
                        <button type="submit" id="btnUrl" class="btn btn-success btn-lg" style="width: 180px">Shrink It </button>
                        <button type="submit" style="display: none; width: 180px" id="btnCopy" onclick="return false;" class="btn btn-success btn-lg">Copy To Clipboard </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/ZeroClipboard.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        clip = null;
        ZeroClipboard.setDefaults({
            moviePath: "/Scripts/ZeroClipboard.swf"
        });
        if (ZeroClipboard.detectFlashSupport()) {
            clip = new ZeroClipboard();
            clip.setHandCursor(true);
            clip.glue($('#btnCopy'));
            clip.on('complete', function (client, args) {
                onCopy(client, args);
            });
        }
        $shrinkLink = $('#href');
        $shrinkButton = $('#btnUrl');
        $shrinkInfo = $('#shrink_info');
        $copyButton = $('#btnCopy');
        $shrinkButton.click(doShrink);
    });

    function onCopy(client, text) {
        resetShrinker();
    };

    function resetShrinker() {
        $shrinkLink.val('');
        $copyButton.fadeOut(500, function () { $shrinkButton.fadeIn(500); });
        $shrinkInfo.fadeOut(500, function () {
            $(this).html("<h2 id='shrink_info' style='color:#fff'>Great! It's in your clipboard!</h2>");
            $shrinkInfo.fadeIn(500);
            $shrinkInfo.fadeOut(1000, function () {
                $(this).html("<h2 id='shrink_info' style='color:#fff'>Shorten your links! Earn Karma!</h2>");
                $shrinkInfo.fadeIn(500);
            });
        });
    }

    function doShrink() {
        function errorOccured() {
            alert('There was an error while processing your URL.');
        }
        var url = $shrinkLink.val();
        if (url.length < 12)
            return false;
        if (url.length > 12 && url.substr(0, 11) == "http://i.af") {
            $shrinkButton.hide();
            $copyButton.show();
        } else {
            var request = { Url: url };
            $.ajax({
                type: 'post',
                url: '/v1/url?format=json',
                data: {
                    Url: url
                },
                beforeSend: function (jqXHR, settings) { },
                error: function (jqXHR, textStatus, errorThrown) { errorOccured(); },
                success: function (data, textStatus, jqXHR) {
                    $shrinkButton.hide();
                    $shrinkLink.val(data.ShortHref);
                    if (ZeroClipboard.detectFlashSupport()) {
                        $copyButton.show();
                        clip.setText(data.ShortHref);
                        clip.setHandCursor(true);
                    } else {
                        $copyButton.hide();
                        $shrinkButton.show();
                    }
                    $shrinkInfo.html('Done! Copy to clipboard?');
                }
            });
        }
        return false;
    };
</script>
}

