@{
    ViewBag.Title = "Contact";
}

<h1 style="color:#fff">Contact Us</h1>
<div class="pop-unit" style="padding:20px 50px">
    <h1>Do you have any questions?</h1>
    Please contact the following mailing address for official correspondence.<br />
    Note: We are located in Pacific Time Zone. 
    
    <p>
        <address>
            280 Nelson Street #234<br />
            Vancouver, BC V6B 2E2<br />
            <abbr title="Phone">P:</abbr>
            (888) 366-8949<br />
            <abbr title="Phone">P:</abbr>
            (604) 288-0778
        </address>
    </p>
    <address>
        <strong>Support:</strong>   <a href="mailto:i@i.af">i@i.af</a><br />
    </address>

</div>