@using iAFWebHost.Entities;
@model iAFWebHost.Models.UrlModel

@{
    ViewBag.Title = "i.af - Fast Url shortener service.";
}
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_LinkBox", Model)
    </div>
</div>

<br />
<div class="pop-unit">
    <div class="row">
        <div class="col-md-4">
            <h3 style="margin-top:0px;">Shorten Your Links!</h3>
            <p>
                <strong>i.af</strong> is a better way to link to online content.
                Shorten and track your links for all your social media needs.
                Use short links to save space in messaging applications.
                Get fast redirection and proactive link monitoring.
                No registration required! It's Free!
            </p>
        </div>
        <div class="col-md-4">
            <h3 style="margin-top:0px;">Manager Your Links!</h3>
            <p>
                Tag and organize links in your private bookmark collections.
                Rest APIs for third party integration are available. Store all your bookmarks in one place.
                Import or Export your own links. We do not use your personal information. You are in control. 
            </p>
        </div>
        <div class="col-md-4">
            <h3 style="margin-top:0px;">Develop with Us!</h3>
            <p>
                We are on GitHub! <a href="https://github.com/iAF">https://github.com/iAF</a>
                You can download the source code that runs this website.
                Git is a distributed version control system allows you to easily clone your 
                own i.af url shortener service. This is a completely transparent service. 
            </p>
        </div>
    </div>
</div>