@model iAFWebHost.Models.UrlPageModel

@{
    ViewBag.Title = "About";
}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<h2 style="color:#fff">About i.af</h2>

<div class="pop-unit" style="padding:20px 50px">

    <h1>What So Special About It?</h1>
    <h3>Please visit <a href="http://GitHub.com/iaf">http://GitHub.com/iaf</a> for more information.</h3>
    <p>
        Thank you for visiting. I.AF is the easiest and most fun way to save, share and discover links from around the web. Yes, it is an open source project.
        It has been initially built from a ground up by a single individual with a goal to test the limits of a one man operation on the Internet. This project is powered by 15 years
        of software development experience, Microsoft MSDN Subscription and generous contributions from users like you.

        I.AF is an open source reference implementation of a generic Url shortener service.
        This service is written in Microsoft C# using latest .NET framework (4.5.1) and available
        on GitHub for free. I have used a mix of traditional SQL and new NOSQL technologies. Main database that powers
        this service is a COUCHBASE cluster that maintains current URL collections and SQL Server 2012 that powers
        user authentication and management.
        <br /><br />
        Current website is running on a set of load balanced Windows 2008 Servers
        in my Vancouver datacenter. Backend database consists of a 3 Node Couchbase Cluster and a Mirrored SQL Server 2012.

        Additional design and implementation of major system components is discussed on GitHub Wiki pages. <br /><br />
        I do accept your contributions to the project.

    </p>
    <h3>Main Development Office</h3>
    <p class="justify">
        <div id="map-canvas" style="width: 450px; height: 275px;"></div>
    </p>
    <script>
        // if HTML DOM Element that contains the map is found...
        if (document.getElementById('map-canvas')) {

            var myLatlng = new google.maps.LatLng(49.28116, -123.12569);
            var mapOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: "Hello World!"
            });
        }
    </script>

</div>
