
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<h2 id="shrink_info" style="color: #fff">Email message: Not found</h2>

<div class="round-unit">
    <div class="row">
        <center><h3>We are unable to find information you are looking for.</h3></center>
        <center><h4>Mailboxes are created only after the very first email arrives.</h4></center>
        <center><h4>You can bookmark this page for your future reference or?</h4></center>
        <center><h4><a href="/email">Click here to continue</a></h4></center>
    </div>
</div>
